@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
@font-face {
    font-family: 'Electronica';
    src: url(../fonts/Electronica.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
